# create RSA certs - Server

RANDFILE = mini_httpd.rnd

[ req ]
default_bits = 1024
encrypt_key = yes
distinguished_name = req_dn
x509_extensions = cert_type

[ req_dn ]
countryName = Country Name (2 letter code)
countryName_default             = US
countryName_min                 = 2
countryName_max                 = 2

stateOrProvinceName             = Texas
stateOrProvinceName_default     = Texas

localityName                    = Dallas

0.organizationName              = WifiBSD
0.organizationName_default      = WifiBSD

organizationalUnitName          = WifiBSD
#organizationalUnitName_default =

0.commonName                    = wifibsd.org

# To create a certificate for more than one name uncomment:
# 1.commonName                  = DNS alias of your server
# 2.commonName                  = DNS alias of your server
# ...
# See http://home.netscape.com/eng/security/ssl_2.0_certificate.html
# too see how Netscape understands commonName.

[ cert_type ]
nsCertType = server

